body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.title{
  text-align: center;
  font-family: 'Satisfy';
  font-size: 7rem;
  margin-bottom: 2rem;
  text-shadow: 3px 1px 2px rgba(0,0,0,0.4);
}

.container-cards{
  display: grid;
  justify-items: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  column-gap: 90px;
  row-gap: 30px;
}

.card{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  height: 6em;
  width: 6em;
  cursor: pointer;
}

.card .front{
  height: 6em;
  width: 6em;
  border-radius: 5px;
  box-shadow: 0 8px 16px -2px rgba(0,0,0,0.4);
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.show .front {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

.card .back {
  transition : all ease-in 0.2s ;
  transition-delay : 0.2s ;
  height: 6em;
  width: 6em;
  background-color: white !important;
  border-radius: 5px;
  box-shadow: 0 8px 16px -2px rgba(0,0,0,0.4);
  border: 1px solid #d16ba5;
}

.hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 5px white !important;
}

.show .back { 
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.card .selected {
  height: 6em;
  width: 6em;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px white;
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.show .selected {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

.card .wrong {
  height: 6em;
  width: 6em;
  border-radius: 5px;
  /* box-shadow: 0px 0px 15px 5px rgb(255, 0, 0); */
  box-shadow: 0px 0px 15px 10px #d16ba5;
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.card .right {
  height: 6em;
  width: 6em;
  border-radius: 5px;
  /* background-color: rgb(30, 255, 0) !important;
  box-shadow: 0px 0px 15px 5px rgb(30, 255, 0); */
  background-color: rgb(93 250 242) !important;
  box-shadow: 0px 0px 15px 5px rgb(93 250 242);
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.show .right {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

.show .wrong {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .title{
    font-size: 4rem;
  }

  .container-cards{
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {

  .title{
    font-size: 5rem;
  }

  .container-cards{
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }

  .card .back{
    height: 5em;
    width: 5em;
  }

  .card .selected{
    height: 5em;
    width: 5em;
  }

  .card .wrong {
    height: 5em;
    width: 5em;
  }

  .card .right {
    height: 5em;
    width: 5em;
  }

  .card .front{
    height: 5em;
    width: 5em;
  }

  

}

@media screen and (min-width: 670px) and (min-height: 850px) {

  .card{
    width: 13em;
  }

  .title{
    font-size: 6rem;
  }

  .container-cards{
    row-gap: 120px !important;
    column-gap: 30px !important;
    padding-left: 3%;
  }

  .card .back{
    height: 10em;
    width: 10em;
  }

  .card .selected{
    height: 10em;
    width: 10em;
  }

  .card .wrong {
    height: 10em;
    width: 10em;
  }

  .card .right {
    height: 10em;
    width: 10em;
  }

  .card .front{
    height: 10em;
    width: 10em;
  }

}

@media screen and (max-width: 600px) {

  .card{
    gap: 6px;
  }

  .container-cards{
    column-gap: 5px;
  }
  

}

@media screen and (max-width: 480px) {

  .card{
    gap: 4px;
  }

  .container-cards{
    padding-left: 2%;
  }

  .card .back{
    height: 5em;
    width: 5em;
  }

  .card .selected{
    height: 5em;
    width: 5em;
  }

  .card .wrong {
    height: 5em;
    width: 5em;
  }

  .card .right {
    height: 5em;
    width: 5em;
  }

  .card .front{
    height: 5em;
    width: 5em;
  }

  .container-cards{
    column-gap: 40px;
  }

  .title{
    font-size: 4rem;
  }

}

@media screen and (min-width: 380px) and (min-height: 800px) {
  .container-cards{
    row-gap: 90px;
  }
}

@media screen and (min-width: 1200px) and (min-height: 800px) {
  .container-cards{
    row-gap: 30px;
  }
}



@media screen and (max-width: 380px) {

  .container-cards{
    column-gap: 30px;
    row-gap: 35px;
  }

}

@media screen and (max-width: 370px) {

  .title{
    font-size: 3rem;
  }

  .container-cards{
    column-gap: 10px;
  }

}

@media screen and (max-width: 320px) {

  body{
    align-items: center;
  }

  .title{
    margin-bottom: 3rem;
  }

  .card{
    width: 3em;
  }

  .container-cards{
    column-gap: 35px;
    row-gap: 5px;
  }

  .title{
    font-size: 2rem;
  }
  .card .back{
    height: 3em;
    width: 3em;
  }

  .card .selected{
    height: 3em;
    width: 3em;
  }

  .card .wrong {
    height: 3em;
    width: 3em;
  }

  .card .right {
    height: 3em;
    width: 3em;
  }

  .card .front{
    height: 3em;
    width: 3em;
  }

}