body{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  font-family: 'Satisfy';
  position: relative;
}

.header{
  height: 10vh;
}

.title{
  text-align: center;
  font-size: 12vh;
  margin-bottom: 2rem;
  text-shadow: 3px 1px 2px rgba(0,0,0,0.4);
}

.container{
  justify-items: center;
  width: 100%;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  column-gap: 3vh;
  row-gap: 5vh;
  height: 75vh;
  max-height: 75vh;
  max-width: 700px;
  margin: auto;
}

.card{
  height: 12vh;
  width: 12vh;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.initials{
  color: #ededed;
}

.card .front{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 8px 16px -2px rgba(0,0,0,0.4);
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.show .front {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

.card .back {
  transition : all ease-in 0.2s ;
  transition-delay : 0.2s ;
  height: 100%;
  width: 100%;
  background-color: white !important;
  border-radius: 5px;
  box-shadow: 0 8px 16px -2px rgba(0,0,0,0.4);
  border: 1px solid #d16ba5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 5px white !important;
}

.show .back { 
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.card .selected {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px white;
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.show .selected {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

.card .wrong {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 10px #d16ba5;
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.card .right {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(93 250 242) !important;
  box-shadow: 0px 0px 15px 5px rgb(93 250 242);
  transform : rotateY(90deg) ;
  transition : all ease-in 0.2s ;
  position : absolute ;
}

.show .right {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

.show .wrong {
  transform: rotateY(0deg) ;
  transition-delay : 0.2s ;
}

.modal{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}

.modal-content{
  width: 40vh;
}

.btn-playAgain{
  height: 8vh;
  font-family: 'Satisfy';
  border-radius: 10px;
  border: 2px solid rgb(209 106 166);
  background-color: white;
  color: black;
  font-size: 2em;
  font-weight: bold;
  padding: 1e;
  margin-top: 3em;
  box-shadow: 0px 0px 13px 3px rgb(209 106 166);
  cursor: pointer;
}

.btn-playAgain:hover{
  box-shadow: 0px 0px 5px 1px rgb(93 250 242);
}

.btn-playAgain:active{
  box-shadow: 0px 0px 5px 1px #d16ba5;
  transform: scale(1.1);
}

@media screen and (min-width: 235px) and (max-width: 320px) {

  .title{
    font-size: 7vh;
  }

  .grid {
    grid-template: repeat(3, 0fr) / repeat(3, 1fr);
    column-gap: 0vh;
  }
}

@media screen and (min-width: 468px) and (max-width: 681px) {

  .title{
    font-size: 8vh;
  }
}

@media screen and (min-width: 321px) and (max-width: 467px) {

  .title{
    font-size: 6vh;
  }
}

@media screen and (max-height: 460px) {

  .title{
    margin-bottom: 1rem;
  }

  .initials{
    font-size: 1.2em;
  }
}

@media screen and (min-width: 300px) and (min-height: 920px) {

  .title{
    font-size: 10vh;
  }

  .grid{
    column-gap: 1vh;
  }

  .card{
    height: 10vh;
    width: 10vh;
  }
}

@media screen and (min-width: 330px) and (min-height: 950px) {

  .title{
    font-size: 8vh;
  }
}