body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  column-gap: 100px;
  row-gap: 50px;
}

.card{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  height: 6em;
  width: 6em;
  border-radius: 5px;
  box-shadow: 2px 2px #c8c8c8;
}

.back{
  background-color: aquamarine !important;
}

@media screen and (max-width: 720px) {

  .container{
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }

}

@media screen and (max-width: 520px) {

  .card{
    height: 4em;
    width: 4em;
    gap: 6px;
  }

  .container{
    column-gap: 80px;
  }

}

@media screen and (max-width: 400px) {

  .card{
    gap: 4px;
  }

  .container{
    column-gap: 80px;
  }

}


@media screen and (max-width: 370px) {

  .card{
    height: 3em;
    width: 3em;
    gap: 2px;
  }

  .container{
    column-gap: 65px;
  }

}

@media screen and (max-width: 300px) {

  .container{
    column-gap: 30px;
  }

}