.container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.column-fixed{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100vh;
}

.column-2-row{
  display: flex;
  flex-direction: row;
  height: 50%;
}

.column-3-row {
  display: flex;
  height: 20%;
  width: 100%;
}

@media screen and (max-width: 200px) {

  .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

}

@media screen and (max-width: 1200px) {

  .rowColumn{
    width: 33.3333% !important;
  }

}